[submodule "pack/dist/start/nerdtree"]
	path = pack/dist/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/dist/start/dracula"]
	path = pack/dist/start/dracula
	url = https://github.com/dracula/vim.git
